{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-strict-mode"
  ],
  "env": {
    "production": {
      "plugins": [
//        "transform-remove-console"
      ]
    }
  }
}
